/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
    color: #333;
}

/* VARIABLES */

:root {

    --purple: #7a2ea6;
    --pink: #c51b7d;
    --orange: #f47c48;
    --blue: #3b4db1;
    --cyan: #29b2c7;

}

/* HEADER */

header {

    background: linear-gradient(90deg, var(--purple), var(--pink));
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}

.logo {
    width: 250px;
}

.logo img {
    width: 100%;
    height: auto;
}

nav a {
    position: relative;
    color: white;
    margin-left: 25px;
    font-weight: 500;
    text-decoration: none;
}

/* Línea oculta inicialmente */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    /* separa la línea del texto */
    width: 100%;
    height: 2px;
    background-color: white;

    transform: scaleX(0);
    transform-origin: right;
    /* empieza desde la derecha */
    transition: transform 0.3s ease;
}

/* Hover */
nav a:hover {
    color: white;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    /* se expande hacia la izquierda */
}

/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 8%;
    background: linear-gradient(120deg, var(--purple), var(--pink));
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}


.hero h1 {

    font-family: 'Montserrat';
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.hero p {

    font-size: 23px;
    margin-bottom: 30px;

}

.btn {

    background: var(--orange);
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    display: inline-block;
    transition: all .35s ease;
    position: relative;
    overflow: hidden;

}

.btn::after {

    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
    transition: width .35s ease;

}

.btn:hover::after {

    width: 100%;

}

.btn:hover {

    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);

}

.hero-img {
    position: absolute;
    bottom: -9%;
    right: 5%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 87%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 87%);
    mask-repeat: no-repeat;
    mask-size: cover;

}

.hero-img img {
    width: clamp(80vh, 50vw, 90vh);
    max-width: 850px;
    height: auto;
    animation: floatHero 6s ease-in-out infinite;
}

@keyframes floatHero {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

/* BOTON WHATSAPP FLOTANTE */

.whatsapp-float {

    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 60px;
    height: 60px;

    background: #25D366;
    color: white;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

    z-index: 9999;

    transition: all .35s ease;

}

/* HOVER */

.whatsapp-float:hover {

    transform: scale(1.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);

}

/* ANIMACION PULSO */

.whatsapp-float::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: #25D366;

    animation: whatsappPulse 2s infinite;

    z-index: -1;

}

@keyframes whatsappPulse {

    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    70% {
        transform: scale(1.6);
        opacity: 0;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }

}

/* CONTENEDOR WHATSAPP */

.whatsapp-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
}

.whatsapp-float {
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* BOTON PRINCIPAL */

.whatsapp-float {

    width: 60px;
    height: 60px;

    background: #25D366;
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    border: none;
    cursor: pointer;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

    transition: .3s;

}

.whatsapp-float:hover {
    transform: scale(1.1);
}

/* NOTIFICACION (estado base oculto) */
.whatsapp-float::after {
    content: "1";
    position: absolute;

    top: -5px;
    right: -5px;

    width: 20px;
    height: 20px;

    background: red;
    color: white;

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 0 0 0 2px white;

    opacity: 0;
    transform: scale(0);
    transition: .3s ease;
}

/* CUANDO APARECE */
.whatsapp-float.show-notif::after {
    opacity: 1;
    transform: scale(1);
}

/* CUANDO SE OCULTA */
.whatsapp-float.hide-notif::after {
    opacity: 0;
    transform: scale(0);
}

/* CAJA */

.whatsapp-box {

    position: absolute;
    bottom: 80px;
    right: 0;

    width: 260px;

    background: white;

    border-radius: 14px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);

    transition: .35s ease;

}

/* CUANDO ESTA ACTIVA */

.whatsapp-box.active {

    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);

}

/* HEADER */

.whatsapp-header {

    background: linear-gradient(120deg, var(--purple), var(--pink));
    color: white;

    padding: 12px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

}

.close-wsp {

    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

/* OPCIONES */

.whatsapp-options {

    display: flex;
    flex-direction: column;

}

.whatsapp-options a {

    padding: 12px 15px;

    display: flex;
    align-items: center;

    gap: 10px;

    color: #333;

    font-size: 14px;

    transition: .25s;

}

.whatsapp-options a:hover {

    background: #f5f5f5;

}

/* ICONOS */

.whatsapp-options i {

    color: var(--orange);
    width: 18px;

}

/* BOTON MENU MOVIL */

.menu-toggle {
    display: none;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* SERVICIOS */

.services {

    padding: 100px 8%;
    background: white;

}

.section-title {

    text-align: center;
    font-family: 'Montserrat';
    font-size: 36px;
    margin-bottom: 60px;

}

.service-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

}

.service {

    background: #fafafa;
    padding: 35px;
    border-radius: 14px;
    text-align: center;
    transition: all .35s ease;
    border: 1px solid rgba(0, 0, 0, 0.04);

}

.service:hover {

    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);

}

.service i {
    font-size: 40px;
    color: var(--orange);
    margin-bottom: 15px;
    transition: transform .35s ease;
}

.service:hover i {
    transform: scale(1.2) rotate(5deg);
}

.service h3 {

    font-family: 'Montserrat';
    margin-bottom: 10px;

}

/* PORTFOLIO */

.portfolio {

    padding: 100px 8%;
    background: #f4f4f4;

}

.portfolio-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;

}

.portfolio img {

    width: 100%;
    border-radius: 10px;
    transition: all .45s ease;
    filter: brightness(95%);

}

.portfolio-item {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: .3s;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio-info {
    padding: 15px;
}

.portfolio-info h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom: 8px;
}

.portfolio-info p {
    font-size: 14px;
    color: #555;
}

/* ABOUT */

.about {
    padding: 40px 8%;
    background: white;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
    align-items: center;

    max-width: 1100px;
    margin: 0 auto;
}

/* IMAGEN */

.about-img img {
    width: 100%;
    max-width: 320px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 90%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.about-img img {
    transition: .4s ease;
}

.about-img img:hover {
    transform: scale(1.03);
}

/* TEXTO */

.about-content .section-title {
    text-align: left;
    margin-bottom: 20px;
}

.about-text {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 15px;
}

.about-text:first-of-type {
    color: #333;
    font-weight: 500;
}

/* CTA */

.cta {

    background: linear-gradient(120deg, var(--purple), var(--pink));
    color: white;
    text-align: center;
    padding: 80px 8%;

}

.cta h2 {

    font-family: 'Montserrat';
    font-size: 36px;
    margin-bottom: 20px;

}

/* FOOTER */

footer {

    background: #111;
    color: #aaa;
    padding: 50px 8%;

}

.footer-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;

}

.footer-container h4 {

    font-family: 'Montserrat';
    margin-bottom: 15px;
    color: white;

}

.enlaces a {

    color: #aaa;
    transition: all .3s ease;

}

.enlaces a:hover {

    color: var(--orange);
    transform: translateY(-3px);

}

#toast {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    background: linear-gradient(120deg, var(--purple), var(--pink));
    color: #fff;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.35s ease;
    pointer-events: none;
}

#toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.contactanos a {

    color: #aaa;
    transition: all .3s ease;

}

.contactanos a:hover {

    color: var(--orange);
    transform: translateY(-3px);

}

.social a {

    color: white;
    margin-right: 10px;
    font-size: 25px;
    transition: all .3s ease;

}

.social a:hover {

    color: var(--orange);
    transform: translateY(-3px);

}

.footer-bottom {

    text-align: center;
    margin-top: 30px;
    font-size: 14px;

}

/* HEADER SCROLL EFFECT */

header {
    backdrop-filter: blur(6px);
    transition: all .35s ease;
}

header.scrolled {
    padding: 14px 8%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.hero::before,
.hero::after {

    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.06);
    animation: floatBg 12s infinite linear;

}

.hero::before {

    width: 300px;
    height: 300px;
    left: -100px;
    top: 40%;

}

.hero::after {

    width: 200px;
    height: 200px;
    right: 10%;
    top: 20%;

}

@keyframes floatBg {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }

}

/* FAQ PRO */

/* HERO INTERNO */

.hero-small {
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding: 120px 8% 30px 8%;
}

.hero-text {
    max-width: 600px;
}

.hero-small h1 {
    font-size: 42px;
}

.hero-small p {
    font-size: 16px;
    opacity: 0.9;
}

.preguntas {

    padding: 50px 8% 100px;
    background: white;

}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ITEM */
.faq-item {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* PREGUNTA */
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
}

.faq-question i {
    transition: transform 0.3s;
}

/* RESPUESTA */
.faq-answer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 0 20px;
}

.faq-answer p {
    padding-bottom: 15px;
    color: #555;
}

/* ACTIVO */
.faq-item.active .faq-question i {
    transform: rotate(180deg);
}

/* TERMINOS */

.terminos {

    padding: 50px 8%;
    background: white;

}

.terms-container {
    max-width: 800px;
    margin: 0 auto;
}

.terms-container h3 {
    font-family: 'Montserrat';
    margin-top: 20px;
}

/* RESPONSIVE */

@media (max-width:1400px) {

    /* MENU */
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: white;

        height: 0;
        overflow: hidden;

        transition: height 0.4s ease;
        z-index: 1000;
    }

    /* CONTENIDO INTERNO (AOS) */
    .nav-content {
        display: flex;
        flex-direction: column;
    }

    /* LINKS */
    nav a {
        display: block;
        padding: 15px;
        margin: 0;
        color: purple;
        text-decoration: none;
        border-bottom: 1px solid #e0e0e0;
        transition: background 0.3s, color 0.3s;
    }

    nav a:hover {
        background: #f5f0ff;
        color: #6a0dad;
    }

    /* BOTON HAMBURGUESA */
    .menu-toggle {
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    /* LINEAS */
    .menu-toggle span {
        display: block;
        height: 3.5px;
        width: 100%;
        background: white;
        border-radius: 4px;
        transition: all 0.4s cubic-bezier(0.77, 0, 0.18, 1);
    }

    /* ANIMACION A X */
    .menu-toggle.active span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* OVERLAY OSCURO */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);

        opacity: 0;
        visibility: hidden;

        transition: opacity 0.3s ease;
        z-index: 900;
    }

    /* CUANDO ESTA ACTIVO */
    #overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .hero {
        padding: 140px 8% 60px 8%;
        text-align: center;
        justify-content: center;
    }

    .hero-container {
        grid-template-columns: 1fr;
    }

    .hero-img {
        position: static;
        /* quita el absolute */
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .hero-img img {
        position: static;
        /* reset */
        width: 100%;
        max-width: 420px;
    }

    .hero h1 {
        font-size: 34px;
    }

    .hero p {
        font-size: 18px;
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        /* 👈 CLAVE */
        text-align: center;
    }

    .about-content .section-title {
        text-align: center;
    }

    .about-img {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    #toast {

        text-align: center;

    }

}
